<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cusonar.ib.mapper.DeviceMapper">

    <select id="selectDeviceList" resultType="Device">
        SELECT device_id, device_name FROM device
    </select>
    
    <select id="selectDevice" parameterType="Integer" resultType="Device">
    	SELECT device_id, device_name FROM device WHERE device_id = #{deviceId}
    </select>
    
    <insert id="insertDevice" parameterType="Device" useGeneratedKeys="true" keyProperty="deviceId">
        INSERT INTO device (device_name) VALUES (#{deviceName})
    </insert>
</mapper>